:root{
    --darkBlue:  #00425F;
    --lightBlue: #00B8DE;
    --buttonColor: #0275d8;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100vh;
}

/* FIRST-SECTION */

.container .first-section{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex: 1;
    /* border: 1px solid; */
    /* margin-bottom: 5rem; */
}

.container .first-section .text h2{
    color: var(--lightBlue);
    margin-bottom: 0.2rem;
    font-weight: 1500;
}

.container .first-section .text p{
    color: var(--darkBlue);
    line-height: 18px;
}

.container .first-section .img #image1{
    width: 250px;
    height: 250px;
}

.container .first-section .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid; */
    /* text-align: center; */
    /* max-width: 700px; */
}

.container .first-section .footer #footer-header{
    color: var(--lightBlue);
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.container .first-section .footer .icons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.container .first-section .footer .icons #icon-div #icon{
    border: 1px solid var(--lightBlue);
    padding: 2px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    width: 40px;
    height: auto;
}

.container .first-section .footer .icons #icon-div h6{
    color: var(--darkBlue);
}


/* SECONDSECTION */

.container .second-section{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0rem;
    min-height: 100vh;
    flex: 1;
    border: 1px solid #ccc;
    color: var(--darkBlue);
}

.container .second-section .text{
    /* border: 1px solid; */
    text-align: center;
    padding: 0 6rem;
    flex: 0.7;
}

.container .second-section .text h2{
    color: var(--darkBlue);
    margin-bottom: 0.5rem;
}

.container .second-section .text p{
    word-spacing: 3px;
    line-height: 20px;
}

.container .second-section form{
    padding: 3rem 5rem ;
    font-size: 13px;
    /* border: 1px solid; */
    flex:0.5;
}


.container .second-section form .names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
}

.container .second-section form .names #first-name,
.container .second-section form .names #last-name{
    /* padding: 0.7rem 3.5rem 0.7rem 0.5rem; */
    padding: 0.7rem 5rem 0.7rem 0.7rem ;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container .second-section form .names #first-name::placeholder,
.container .second-section form .names #last-name::placeholder{
    color: var(--darkBlue);
}

.container .second-section form .names .lastname{
    margin-left: 1rem;
}

.container .second-section form #email{
    /* padding: 0.7rem 19rem 0.7rem 0.5rem; */
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container .second-section form #email::placeholder{
    color: var(--darkBlue);
}

.container .second-section form #number{
    /* padding: 0.7rem 19rem 0.7rem 0.5rem; */
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container .second-section form #number::placeholder{
    color: var(--darkBlue);
}


.container .second-section form #product{
    /* padding: 0.5rem 25.5rem 0.5rem 0.5rem; */
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.container .second-section form #business{
    /* padding: 0.5rem 23rem 0.5rem 0.5rem; */
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.container .second-section form #monthly-sales{
    /* padding: 0.5rem 25.5rem 0.5rem 0.5rem; */
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.container .second-section form .radio .radiobtn{
    display: flex;
    align-items: center;
}

.container .second-section form .radio .radiobtn label{
    margin-left: 0.2rem;
}

.container .second-section form .radio .radiobtn #yes{
    cursor: pointer;
}

.container .second-section form .radio .radiobtn #no{
    margin-left: 1rem;
    cursor: pointer;
}

.container .second-section form .agree #checkbox{
    cursor: pointer;
}

.container .second-section form .agree strong{
    font-weight: 900;
}

.container .second-section form .agree span{
    font-weight: 600;
}

.container .second-section form button{
    border: none;
    border-radius: 10px ;
    background: var(--buttonColor);
    padding: 1rem 0;
    width: 100%;
    color: white;
    cursor: pointer;
}




/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .container{
        margin-top: 3rem;
        flex-direction: column;
    }

    .container .first-section .footer .icons #icon-div{
        margin: 0 10px;
    }

    .container .second-section{
        margin-top: -5rem;
        width: 100%;
        max-width: 700px;
    }
}